body{ font-size: 62.5%; }
h1{ font-size: 0.7em; width: 100%; }
h2{ font-size: 0.7em; }
h3{ font-size: 0.7em; }
h4{ font-size: 0.7em; }
h5{ font-size: 0.7em;; }
h6{ font-size: 0.7em; }

.reveal section img
{
  border: 0;
  box-shadow: none;
}
